In [1]:
import numpy as np
import pandas as pd

In [2]:
np.__version__

'1.23.3'

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv')

In [4]:
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [5]:
df.Make.count

<bound method Series.count of 0            BMW
1            BMW
2            BMW
3            BMW
4            BMW
          ...
11909      Acura
11910      Acura
11911      Acura
11912      Acura
11913    Lincoln
Name: Make, Length: 11914, dtype: object>

In [6]:
df['Make'].value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [7]:
audi = df[df['Make'] == 'Audi']

In [8]:
categorical = audi.select_dtypes(['category', 'object']).columns

for col in categorical:
    print('{} : {} unique value(s)'.format(col, audi[col].nunique()))
    
print('\n-------------\n')

for col in categorical:
    print('{} : {}'.format(col, ', '.join(audi[col].unique())))

Make : 1 unique value(s)
Model : 34 unique value(s)
Engine Fuel Type : 5 unique value(s)
Transmission Type : 3 unique value(s)
Driven_Wheels : 2 unique value(s)
Market Category : 15 unique value(s)
Vehicle Size : 3 unique value(s)
Vehicle Style : 6 unique value(s)

-------------

Make : Audi
Model : 100, 200, 80, 90, A3, A4 allroad, A4, A5, A6, A7, A8, allroad quattro, allroad, Cabriolet, Coupe, Q3, Q5, Q7, R8, RS 4, RS 5, RS 6, RS 7, S3, S4, S5, S6, S7, S8, SQ5, TT RS, TT, TTS, V8
Engine Fuel Type : regular unleaded, diesel, premium unleaded (recommended), premium unleaded (required), flex-fuel (premium unleaded recommended/E85)
Transmission Type : MANUAL, AUTOMATIC, AUTOMATED_MANUAL
Driven_Wheels : front wheel drive, all wheel drive
Market Category : Luxury, Luxury,Performance, Diesel,Luxury, Flex Fuel,Luxury, Luxury,High-Performance, Crossover,Luxury,Performance, Hatchback,Factory Tuner,Luxury,Performance, Crossover,Luxury, Crossover,Luxury,Diesel, Crossover,Luxury,Hybrid, Crossover,Flex Fuel,Luxury, Factory Tuner,Luxury,High-Performance, Factory Tuner,Luxury,Performance, Crossover,Factory Tuner,Luxury,High-Performance, Crossover,Factory Tuner,Luxury,Performance
Vehicle Size : Midsize, Compact, Large
Vehicle Style : Sedan, Wagon, Convertible, Coupe, 2dr Hatchback, 4dr SUV

In [9]:
df.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [10]:
df.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

In [11]:
#Median of Engine Cylinders
df['Engine Cylinders'].median()

6.0

In [12]:
# most frequent value
mode_value = df['Engine Cylinders'].mode()
mode_value

0    4.0
Name: Engine Cylinders, dtype: float64

In [13]:
# Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
df['Engine Cylinders'].fillna(value = mode_value, inplace = True)

In [14]:
df['Engine Cylinders'].isna().count()

11914

In [15]:
df['Engine Cylinders'].median()

6.0

In [16]:
# Q7 - Select all the "Lotus" cars from the dataset.
df_lotus = df[df['Make'] == 'Lotus']
df_lotus.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
3912,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,43995
3913,Lotus,Elise,2009,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990
3914,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3915,Lotus,Elise,2010,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3916,Lotus,Elise,2010,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990

In [17]:
# Select only columns "Engine HP", "Engine Cylinders".
df_selcolumns = df_lotus[['Engine HP', 'Engine Cylinders']]
df_selcolumns.head()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3914      189.0               4.0
3915      189.0               4.0
3916      218.0               4.0

In [18]:
# Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
df_noduplicates = df_selcolumns.drop_duplicates()

In [19]:
df_noduplicates.shape

(9, 2)

In [20]:
X = df_noduplicates.to_numpy().astype("float64")

In [21]:
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [22]:
XT = X.T

In [23]:
XTX = np.dot(XT,X)

In [24]:
XTX

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [25]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [26]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [27]:
w = np.dot((XTX_inv.dot(X.T)) , y)

In [28]:
w[0]

4.5949448100945744